<div id="offer">
    <div class="container">

        <a href="/profil">Jestes zalogowany/a jako: XYZ</a>
        <div class="row text-center">
            <div class="col-sm-4">
                <h2><a href="#" class="btn btn-lg btn-custom ">Status</a></h2>
            </div>
            <div class="col-sm-4">
                <h2><a href="zamow.html" class="btn btn-lg btn-custom ">Zamow sprzet</a></h2>
            </div>
            <div class="col-sm-4">
                <h2><a href="wypozycz.html" class="btn btn-lg btn-custom ">Wypooycz sprzet</a></h2>
            </div>
        </div>
    </div>
</div>

