<div id="offer">
    <div class="container">
        <div class="row text-center">
            <h1>Profil Użytkownika</h1>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th ng-repeat="naglowek in [
									'Id' , 'Imię' , 'Nazwisko' , 'Telefon', 'E-mail', ''
								]">
                            {{naglowek}}
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="user" ng-repeat='user in users'>
                        <td class="id">{{ user.User_Id }}</td>
                        <td class="imie">{{ user.Name }}</td>
                        <td class="nazwisko">{{ user.Surname }}</td>
                        <td class="phone">{{ user.Phone_Number }}</td>
                        <td class="mail">{{ user.Mail }}</td>
                        <td>
                            <button class="btn btn-success btn-sm"> edytuj</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>


        </div>
    </div>
</div>


<!--
   <div class="form-group">
                        <label for="imie" class="col-md-2">
                            Imię: {{ user.Name }}
                        </label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" id="imie" value="imie" readonly="readonly">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="nazwisko" class="col-md-2">
                            Nazwisko: {{ user.Surname }}
                        </label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" id="nazwisko" value="nazwisko" readonly="readonly">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email" class="col-md-2">
                            Email:
                        </label>
                        <div class="col-md-10">
                            <input type="email" class="form-control" id="email" value="mail" readonly="readonly">
                            <p class="help-block">
                            </p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="email" class="col-md-2">
                            Nr telefonu:
                        </label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" id="number" value="numer telefonu"
                                   readonly="readonly">
                            <p class="help-block">
                            </p>
                        </div>
                    </div>

                </form>
 -->