<html data-ng-app="angularForm">
<head>
    <link href='https://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/css/style.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Strona</title>
</head>
<body data-ng-controller="formCtrl">

<header>
    <div class="container">
        <div class="text-center">
            <a href="#">Nazwa firmy</a>
            <h1>System inwentaryzacyjny</h1>
        </div>
    </div>
</header>


<div id="offer">
    <div class="container">
        <div class="row text-center">
            <div class="panel">
                <h3 class="panel-heading">Formularz logowania</h3>
                <form name="angularForm" class="panel-body" method="POST" novalidate action="//api.test/auth"
                      data-ng-hide="correctLogIn" data-ng-submit="submitData($event)">
                    <fieldset class="well">
                        <div class="form-group">
                            <label for="email">E-mail: </label>
                            <input type="email" required name="email" id="email" class="form-control"
                                   data-ng-pattern="emailPattern" ng-model="user.email">
                            <div class="error" ng-show="angularForm.email.$invalid && angularForm.email.$dirty">
                                <span ng-show="angularForm.email.$error.pattern">Wpisz poprawny adres e-mail </span>
                                <span ng-show="angularForm.email.$error.required">Wpisz poprawny adres e-mail</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password">Password: </label>
                            <input type="password" required name="password" id="password" class="form-control"
                                   data-ng-minlength='6' data-ng-pattern="passPattern" data-ng-model="user.pass">
                            <div class="error" ng-show="angularForm.password.$invalid && angularForm.password.$dirty">
                                <span ng-show="angularForm.password.$error">Błąd! Poprawne hasło zawiera 6 znaków, przynajmniej jedną wielką literę i liczbę</span>
                            </div>
                        </div>
                        <input type="submit" value="Login" class="btn btn-primary btn-block"
                               data-ng-disabled="angularForm.$invalid">
                    </fieldset>
                </form>

                <p class="bg-success login-info" data-ng-show="correctLogIn">Logowanie poprawne</p>
                <p class="bg-warning login-info" data-ng-show="incorrectLogIn">Niepoprawne login lub hasło</p>
                <p class="bg-danger login-info" data-ng-show="serverProblem">Błąd usługi</p>
            </div>
        </div>
    </div>
</div>


<footer>
    <div class="container">
        <div class="row text-center">
            <p class="lead">
                Copyright &copy; | Wszelkie prawa zastrzeżone
            </p>
        </div>
    </div>
</footer>


<script src="/js/jquery-2.0.3.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

<script type="text/javascript"
        src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-beta.2/angular.min.js"></script>
<script type="text/javascript" src="/js/controller.js"></script>
</body>
</html>